/*!
 Author : Iman Kianian
 */


@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IranYekan/eot/iranyekanwebbold(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IranYekan/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IranYekan/woff/iranyekanwebbold(fanum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IranYekan/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IranYekan/eot/iranyekanweblight(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IranYekan/woff2/iranyekanweblight(fanum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IranYekan/woff/iranyekanweblight(fanum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IranYekan/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
    font-family: IranYekan;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IranYekan/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/IranYekan/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),
        /* IE6-8 */
        url('../fonts/IranYekan/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
        url('../fonts/IranYekan/woff/iranyekanwebregular(fanum).woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url('../fonts/IranYekan/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}
body{
	font-family:'IranYekan';
	direction:rtl;
	text-align:right;
}
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}
p{
	margin-bottom:1px;
}
a:hover{
	text-decoration:none;
}
.lasttermlink{
	color:white;
}
.lasttermlink:hover{
	color:black;
}
.alert li {
	list-style: persian;
}
.btn-link.focus, .btn-link:hover{
	text-decoration:none !important;
}
.btn-link.focus, .btn-link:hover{
	text-decoration:none !important;
}
.btn-link.focus, .btn-link:focus{
	text-decoration:none !important;
}
.card-body{
	text-align:justify;
}
.teacherimg{
	width:200px;
	height:200px;
	
	
}
.teacherrow{
	display:flex;
	margin:10px;
}
.teachername{
	margin-top:10px;
	font-weight:bold;
	font-size:16px;
}

.assistantimg{
	width:200px;
	height:200px;
}
/*
.assistant{
	margin:20px;
} */
.assistantpart{
	display:flex;
	flex-wrap:wrap;
	/*width:1000px;*/
	align-items: center;
    justify-content: center;
}
.card-footer{
	text-align:center;
}


.leadp{
	font-size:15px;
	font-weight: 300;
}

@media only screen and (max-width: 600px) {
	
	.assistant{
		margin-right:0px;
		margin-bottom:2rem;
	}
  .assistantpart{
		display:block;
		width:unset;
	}
	.teacherrow{
		display: block;
		width: unset;
		margin:0;
	}
	.col-sm{
		margin-top:20px;
	}
}
